@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

body {
    background-color: #FEFAF0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.home-title {
    color: #AE2010;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
h4 {
    color:#EE9B00;
}
.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon {
    width: 80px; 
    padding-top: 10px; 
}
#hero-img {
   width: 100%; 
}
header {
    background-color: #E9D8A6 ;
}
#content {
   max-width: 1600px;
   margin: 0 auto;
   text-align: center;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: white;
    background-color: #1B8592FF;
    
}
#hero-msf h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color:#AE2010 ;
}
.book, .join {
    background-color: #1B8592FF;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
book:hover, .join:hover {
    
    background-color: white;
    color: #EE9B00
}
.card-img {
    border: 10px solid #EE9B00;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.mountains{
    margin-top: 100px;
}
.msg {
    background-color:#AE2010 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;

}
.msg h2{
    color: white;
    font-family: 'Rock Salt', cursive;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
} 
footer {
    background-color:#E9D8A6;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: black;
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #1B8592FF   
}
footer a:hover {
    color: white
    
}
footer.social img {
    padding-top: 15px;
}
