body {
    background-color: #FEFAF0;
}
.home-title {
    color: #AE2010;
}
h4 {
    color:#EE9B00
}
.logo {
    width: 80px
}
.icon {
    width: 80px;  
}
#hero-img {
   width: 100%; 
}
header {
    background-color: #E9D8A6 ;
}
#content {
   max-width: 1600px;
   margin: 0 auto;
   text-align: center;
}

nav a{
    text-align: center;
    color: white;
    background-color: #1B8592FF;
    line-height: 3em;
    font-size: 1.2em;
    text-decoration: none;
}
nav a:hover {
    color: white;
    background-color: #EE9B00;
    
}
#hero-msf h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:#AE2010 ;
}
.book, .join {
    background-color: #1B8592FF;
    color: white;
    text-decoration: none;
}
book:hover, .join:hover {
    
    background-color: white;
    color: #EE9B00
}
.msg {
    background-color:#AE2010 ;
}
.msg h2{
    color: white
}
.msg p {
    color: white
} 
footer {
    background-color:#E9D8A6;
}
footer h3 {
    color: black
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #1B8592FF   
}
footer a:hover {
    color: white
    
}
