@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

body {
    background-color: #FEFAF0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.home-title {
    color: #AE2010;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
h4 {
    color:#EE9B00;
}

.icon {
    width: 80px; 
    padding-top: 10px; 
}
header {
    background-color: #E9D8A6 ;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#content {
   max-width: 1600px;
   margin: 0 auto;
   text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    opacity: .6;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: white;
    background-color: #1B8592FF;   
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
}
#background {
    height: 725px;
    background-color:#AE2010 ;
    grid-column: 1/11;
    grid-row: 4/9;
}
.book, .join {
    background-color: #1B8592FF;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: white;
    color: #EE9B00
}
.card-img {
    border: 10px solid #EE9B00;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #734b01;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    margin-top: 100px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #3d0803;
}
.msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #3d0803;

}
.msg h2{
    color: #EE9B00;
    font-family: 'Rock Salt', cursive;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
} 
footer {
    background-color:#E9D8A6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: black;
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #1B8592FF   
}
footer a:hover {
    color: white
    
}
footer.social img {
    padding-top: 15px;
}

/* SUB PAGE*/
.rivers-title {
    color: #AE2010;
    font-family: 'Rock Salt', cursive;
    font-size: 1em;
}
#rivers-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#rivers-img {
    width: 100%; 
}
#rivers-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 10px;
    padding: 5px;
}
#rivers-msg h1, #rates-msg h4{
    text-align: left;
}
.book-rates {
    background-color: #1B8592FF;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 25px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-button-box {
    text-align: left;
}
.book-rates:hover {
    background-color: white;
    color: #EE9B00
}
.raft-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
}
.rafting-img {
    border: 5px solid #1B8592FF;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #734b01;
    margin: 10px;
}
.rafting-card{
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;  
}
.river-raft{
    margin-top: 10px;
    grid-column: 5/6;
    grid-row: 1/2;
}
.share-img {
    border: 5px solid #AE2010;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #734b01;
    margin: 15px;
}
.share-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.redwall{
    margin: 50px;
    grid-column: 1/2;
    grid-row: 4/5;  
}
.raft{
    margin: 50px;
    grid-column: 2/4;
    grid-row: 4/5;  
}
.waterfall{
    margin: 50px;
    grid-column: 4/6;
    grid-row: 4/5;
}
.river-msg {
    background-color: #1B8592FF ;
    line-height: 1em;
    padding: 15px;
    margin-top: 10px;
    grid-column: 3/10;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #3d0803;
}
.river-msg h2{
    color: #EE9B00;
    font-family: 'Rock Salt', cursive;
}
.river-msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 5px;
}
.contact-img{
    border: 5px solid #EE9B00;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #734b01;
    margin-top: 100px;
    grid-column: 1/4;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #3d0803;
}

/* Forms*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em roboto;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

@media screen and (max-width: 900px) {
    #hero, .home-grid .raft-grid{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #rates {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #rates-msg{
        margin-top: 0;
    }
    #rates-msg h1, #rates-msg h4{
        display: none
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rates-title{
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .rafting-img, .rafting, .river-raft, .redwall, .raft, .waterfall, .group-raft{
        margin: 50px auto;
        width: 60%; 
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .river-msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}