@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
    background-color: #8ECAE6;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.home-title {
    color: #FFB703;
    font-family: 'Chelsea', cursive;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #FEFAF0;
}

.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #219EBC ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
    opacity: .6;
}

nav a{
    text-align: center;
    color: #023047;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: white;
    background-color: #FB8500;   
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #3d0803;

}
.msg h2{
    color: #EE9B00;
    font-family: 'Rock Salt', cursive;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
} 

footer {
    background-color:#E9D8A6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: black;
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #1B8592FF   
}
footer a:hover {
    color: white
    
}
footer.social img {
    padding-top: 15px;
}