@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
    background-color: #8ECAE6;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#content{
    max-width: 1600%;
    margin: auto;
    text-align: center;
}
.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #023047 ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #FEFAF0;
    text-decoration: none;
    padding: 25px;
}
nav a:hover {
    color: #023047;
    background-color: #FB8500;   
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #FB8500;
    color: black;
}
.topnav a.active {
    background-color: #023047;
    color: #FEFAF0;
}
.topnav .login-container {
    float: right;
}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
}
.topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #EE9B00;
    color: #FEFAF0;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .login-container button:hover {
    background-color: #219EBC;
}
.hero-title {
    color: #FFB703;
    font-family: 'Chelsea', cursive;
    font-size: 4em;
    margin-top: 5px;
}
h5 {
    color: #023047;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}
#hero-img {
    width: 100%; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 10px;
}
#hero-msg h1, #hero-msg h5{
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr ;
}
.paint{
    margin-top: 150px;
    grid-column: 1/2;
    grid-row:  1/2;
}
.tools{
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 2/3;  
}
.tools-img{
    box-shadow: 5px 5px 10px #023047;
}
.paint-img{
    box-shadow: 5px 5px 10px #023047;
}
.paint h2, .tools h2{
    font-family: 'Chelsea', cursive;
    color: #FB8500;
    background-color: #023047;
    padding: 20px;
    text-align: center;

}
.paint-img:hover, .tools-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
    grid-column: 3/4;
    grid-row: 1/5; 
    box-shadow: 5px 5px 10px #023047;
    text-align: center;
}
.msg h2{
    color: #219EBC;
    font-family: 'Chelsea', cursive;
    margin-top: 150px;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:#023047;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #FFB703;
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #219EBC;  
}
footer a:hover {
    color: white
    
}
footer.social img {
    padding-top: 15px;
}
/* Painting */
#painting {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#painting-box {
    grid-column: 3/6;
    grid-row: 1/3;
}
#painting-img {
    width: 100%; 
}
#painting-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: #FFB703;
}
#painting-msg h1{
    font-family: 'Chelsea', cursive;
    font-size: 2.5em;
}
#painting-msg  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #023047;
}
#painting-msg h1, #painting-msg h4{
    text-align: center;
}
.painting-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    margin-top: 100px;
}
.watercolor {
    margin-top: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.supplies{
    margin-top: 100px;
    grid-column: 3/4;
    grid-row:  3/5;
}
.watercolor-img{
    box-shadow: 5px 5px 10px #023047;
}
.supplies-img{
    box-shadow: 5px 5px 10px #023047;
}
.supplies h2, .watercolor h2{
    font-family: 'Chelsea', cursive;
    color: #FB8500;
    background-color: #023047;
    padding: 20px;
    text-align: center;

}
.supplies-img:hover, .watercolor-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.paint-msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    grid-column: 2/3;
    grid-row: 1/4; 
    box-shadow: 5px 5px 10px #023047;
    text-align: center;
}
.paint-msg h2{
    color: #219EBC;
    font-family: 'Chelsea', cursive;
}
.paint-msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

/* Carpentry */
#hero-carpentry {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
#carpentry-box {
    grid-column: 1/2;
    grid-row: 1/3;
}
#carpentry-img {
    width: 100%; 
}
#carpentry-msg {
    grid-column:2/4;
    grid-row: 1/3;
    text-align: center;
    margin-top: 100px;
    color: #FFB703;
}
#carpentry-msg h1{
    font-family: 'Chelsea', cursive;
    font-size: 2.5em;
}
#carpentry-msg h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #023047;
}
#carpentry-msg h1, #carpentry-msg h4{
    text-align: center;
}
#carpentry-msg h1, #carpentry-msg h4{
    text-align: center;
}
.carpentry-grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr ;
    margin-top: 100px;
}
.carpentry-tools{
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.woodworking{
    margin-top: 100px;
    grid-column: 3/4;
    grid-row:  3/4;
}
.carpentry-tools-img{
    box-shadow: 5px 5px 10px #023047;
}
.woodworking-img{
    box-shadow: 5px 5px 10px #023047;
}
.woodworking h2, .carpentry-tools h2{
    font-family: 'Chelsea', cursive;
    color: #FB8500;
    background-color: #023047;
    padding: 20px;
    text-align: center;
}
.carpentry-tools-img:hover, .woodworking-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.woodworking-msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 1/5; 
    box-shadow: 5px 5px 10px #023047;
    text-align: center;
}
.woodworking-msg h2{
    margin-top: 100px;
    color: #219EBC;
    font-family: 'Chelsea', cursive;
}
.woodworking-msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
/* Forms*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

@media screen and (max-width: 900px) {
    #hero, .home-grid .painting-grid .carpentry-grid .topnav .login-container{
        display: block;
        height: auto;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    nav, footer {
        flex-direction: row;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #rates {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #rates-msg{
        margin-top: 0;
    }
    #rates-msg h1, #rates-msg h4{
        display: none
    }
    .home-title {
        font-size: 25px;
        color: #FFB703;
    }
    .painting-title{
        font-size: 25px;
        color: #FFB703
    }
    .carpentry-title{
        font-size: 25px;
        color: #FFB703;
    }
    .tools, .paint { 
        margin: 50px auto;
        width: 80%;
    }
    .carpentry-tools, .woodworking{
        margin: 50px auto;
        width: 80%;
    }
    .watercolor, .supplies{
        margin: 60px auto;
        width: 80%; 
    }
    #background {
        display: none;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .paint-msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .woodworking-msg{
        width: 80%;
        display: block;
        margin: 0 auto; 
    }
    footer {
        margin-top: 200px;
    }
}