@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
    background-color: #8ECAE6;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.home-title {
    color: #FFB703;
    font-family: 'Chelsea', cursive;
    font-size: 4em;
    margin-top: 5px;
}
h4 {
    color: #0e4958;
    font-size: 2em;
    margin-top: 50px;
}

.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #0e4958 ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
    opacity: .6;
}

nav a{
    text-align: center;
    color: #FEFAF0;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: #0e4958;
    background-color: #FB8500;   
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 3/3;
    margin-top: 50px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10 , 1fr) ;
}
.tools {
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #0e4958;
}
.paint{
    margin-top: 100px;
    grid-column: 1/2;
    grid-row:  2/3;
    box-shadow: 5px 5px 10px #0e4958;
}
.paint-img:hover, .tools-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #E9D8A6 ;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    grid-column: 4/11;
    grid-row: 1/5; 
    box-shadow: 5px 5px 10px #0e4958;
    text-align: center;
}
.msg h2{
    color: #EE9B00;
    font-family: 'Chelsea', cursive;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:#E9D8A6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: black;
}
footer h3:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #1B8592FF   
}
footer a:hover {
    color: white
    
}
footer.social img {
    padding-top: 15px;
}
/* Painting */
#painting {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#painting-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#painting-img {
    width: 100%; 
}
#painting-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#painting-msg h1, #paining-msg h4{
    text-align: center;
}

/* Carpentry */
#carpentry {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#carpentry-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#carpentry-img {
    width: 100%; 
}
#carpentry-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#carpentry-msg h1, #carpentry-msg h4{
    text-align: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid .raft-grid{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #rates {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #rates-msg{
        margin-top: 0;
    }
    #rates-msg h1, #rates-msg h4{
        display: none
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rates-title{
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .rafting-img, .rafting, .river-raft, .redwall, .raft, .waterfall, .group-raft{
        margin: 50px auto;
        width: 60%; 
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .river-msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}