
  nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }
  h1 {
    text-align: center;
    color: steelblue;
  }
  img {
    display: block;
    width: 80%;
    margin: 50px auto;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }

  .main-para {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;
    
  }
  #active {
    background-color: white;
    color: steelblue;
  }
  footer p{
    font-size: 20px;
    margin: 20px auto;
  }
  a:hover{
  background-color: white;
  color: steelblue;
  }
